include ../../mixins/mixin

.page-section__inner
	h1.title.page-section__title
		| Falcon Heavy
	p.page-section__subtitle
		| The most powerful operational rocket <br> in the world by a factor of two
	.page-section__decor
	img.page-section__img(src="img/bg/main-bg.png", alt="earth")
