.performance__inner
	.performance__feature
		.performance__feature-block.performance__feature-overview
			h2.title.performance__title
				| Falcon Heavy <br> Overview
			ul.performance__list
				li.performance__list-item
					p.performance-item__data
						| HEIGHT
					p.performance-item__info
						| 70 m / &zwj;
						span.performance-item__info-metering 229.6 ft
				li.performance__list-item
					p.performance-item__data
						| DIAMETER
					p.performance-item__info
						| 12.2 m / &zwj;
						span.performance-item__info-metering 39.9 ft
				li.performance__list-item
					p.performance-item__data
						| MASS
					p.performance-item__info
						| 1,420,788 kg / &zwj;
						span.performance-item__info-metering 3,125,735 lb
				li.performance__list-item
					p.performance-item__data
						| PAYLOAD TO LEO
					p.performance-item__info
						| 63,800 kg / &zwj;
						span.performance-item__info-metering 140,660 lb
				li.performance__list-item
					p.performance-item__data
						| PAYLOAD TO GTO
					p.performance-item__info
						| 26,700 kg / &zwj;
						span.performance-item__info-metering 58,860 lb
				li.performance__list-item
					p.performance-item__data
						| PAYLOAD TO MARS
					p.performance-item__info
						| 16,800 kg / &zwj;
						span.performance-item__info-metering 37,040 lb
		.performance__feature-block.performance__feature-spec
			h2.title.performance__title
				| UNMATCHED <br> PERFORMANCE
			p.performance__text
				| With more than 5 million pounds of thrust at liftoff, Falcon Heavy is the most capable rocket flying. By comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full power. Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner—complete with passengers, luggage and fuel—to orbit.
	.performance__img
		img(src="@img/performance/falcon-heavy.png", alt="Falcon Heavy")
